logs/*.log
tests/logs/*.log
tests/dummy/db/schema.txt
.DS_Store
lib/.DS_Store
tests/.DS_Store
/config/*
!/config/database.example.inc.php
!/config/config.example.inc.php
!/config/config.example.ini
/tests/config/database.inc.php
/nbproject
